
.basic-button{
    background-color: #1A73E8;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-weight: 36px;
    width: 200px;
    height: 35px;
    border: none;
    color: #fff;
}

.basic-button:hover{
    cursor: pointer;
    background-color:#5496ee;
}

.register-button{
    background-color: #105085;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-weight: 36px;
    width: 202px;
    height: 55px;
    border: none;
    color: #fff;
}

.register-button:hover{
    cursor: pointer;
    background-color: #073255;
}