* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.lateral-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    background-color: #1A73E8;
    border-top-right-radius: 3px;
    color: #fff;
}


.lateral-menu header {
    display: flex;
    padding: 1rem;
    align-items: center;
    width: 300px;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    font-size: 25px;
}

.lateral-menu span {
    display: flex;
    height: 3px;
    width: 300px;
    border-radius: 4px;
    background-color: #fff;
}

.lateral-menu .btns-actions {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    height: 50vh;
    gap: 66px;
}

.btns-actions button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 45px;
    width: 15rem;
    text-align: center;
    background-color: #1A73E8;
    border: none;
    outline: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    text-decoration: none;
    align-items: center;
}

a, .btn-sections a {
    text-decoration: none !important;
  }
  
.btns-actions button:hover {
    background-color: #fff;
    color: #1A73E8;
}

.lateral-menu header {
    margin-top: 2rem;
}

.lateral-menu header h1 {
    font-size: 2rem;
}