*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body-container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    background-color: #e2e2e2;
    height: 100vh;
}

.body-container header{
    display: flex;
    background-color: #fff;
    width: 100%;
    padding: 4rem;
    height: 25vh;
    gap: 2rem;
    align-items: center;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.body-container header h1{
    font-size: 3rem;
    color: #1a73eb;
}

.body-container header span{
    padding: 2px;
    border-radius: 4px;
    height: 52px;
    background-color: #1a73eb;
}

.body-container header h3{
    margin-top: 0.8rem;
    color: #1a73eb;
}

/*---------------------------*/
.datagrid {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.datagrid ul {
    background-color: white;
    height: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.datagrid ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1a73e8;
    font-weight: bold;
    border-bottom: 4px solid #1a73e8;
    margin-bottom: 1rem;
    padding: 1rem;
}

.datagrid ul li .select{
    padding: 12px;
    border: 1px solid #1a73e8;
    background-color: #fff;
    
}
 
.datagrid ul li .edit{
    margin-right: 1rem;
    background-color: #1a73e8;
    border: none;
    padding: 3px;
}

.datagrid ul li .delete{
    background-color: #1a73e8;
    border: none;
    padding: 3px;
}


.header {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    color: #a09f9f;
    font-weight: bold;
    padding: 20px 40px;
    width: 100%;
}

.header ul {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.header ul li {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
}