.container {
    width: 600px;
    gap: 16px;
    display: flex;
    flex: 1;
    padding: 70px 40px;
    flex-direction: column;
}
.container input{
    width: 25vw;
}

.closeModal {
    position: relative;
    cursor: pointer;
}

.closeModal:hover {
    opacity: 0.5;
}

.closeModal svg {
    position: absolute;
    right: 30px;
    top: 30px
}

.buttonGroup {
    display: flex;
    flex: 1;
    justify-content: end;
}