.main{
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lateral-login{
    background-color: #1A73E8;
    width: 650px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 16px 10px;
    width: 100%;
}
.title{
    white-space: nowrap;
    color: #fff;
    font-weight: bold;
    font-size: 60px;
    margin-left: 35px;
    flex: 1;
}
.text-container{
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}
.h2-container{
    margin-top: 300px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
/* ---------------------------------Login--Area--------------------------------------------- */

.div-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-left: 128px;
}

.label-login{
    color: #1A73E8;
    font-size: 32px;
    font-weight: bold;
    align-self: flex-start;
}

.input-login{
    width: 640px;
    height: 32px;
    border: 3px solid #1A73E8;
    border-radius: 8px;
    outline: none;
    padding-left: 10px;
    margin-bottom: 8px;
    color: #1A73E8;
    font-size: 20px;
}


